<div class="container p-1">
    <p class="text-center head p-3">{{name}}</p>
</div>
<!-- <hr> -->
<div class="container  mb-5">
    <div class="row">
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event) "></app-quote-form>
        </div>
        <div class="col-md-6 ">
            <h2>List Of Present Quotes</h2>
            <hr>
            <div *ngFor=" let quote of quotes; let i = index" class="container p-3 cont">
                <button (click)='toggleDetails(i)' class="btn btn-warning m-3">See More</button>

                <p > {{quote.quote}} </p>
                <app-quote-details *ngIf='quote.showAuthor' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
                <p class="poston">Posted on: {{quote.postDate|date:'short'}}</p>
                <p class="postby">Posted By: {{quote.submitter}}</p> 
            </div>
        </div>
    </div>
</div>
    



<!-- <div class="container">
    <p *ngFor=" let quote of quotes">
        {{quote.quote}} and {{quote.author}} by {{quote.submitter}}
        <app-quote-details [quote]='quote'></app-quote-details>

    </p>
</div> -->

