.btn{
    display: flex;
    justify-content: space-between;
    float: right;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 13px;
    border: none;
}
.cont{
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    border-radius: 15px;
}
.postby{
    color: rgb(0, 128, 111);
    font-weight: bold;
    font-style: italic;
}
.poston{
    float: right;
    color: orangered;

}
h2{
    color: rgb(0, 128, 111);
    font-weight: bold;
}