<div class="container p-5">
    <p>{{name}}</p>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            <div *ngFor=" let quote of quotes; let i = index" class="container">
                <p > {{quote.quote}} posted on {{quote.postDate|date:'short'}}</p>
                <button (click)='toggleDetails(i)'>See more</button>
                <app-quote-details *ngIf='quote.showAuthor' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
            </div>
        </div>
    </div>
</div>
    



<!-- <div class="container">
    <p *ngFor=" let quote of quotes">
        {{quote.quote}} and {{quote.author}} by {{quote.submitter}}
        <app-quote-details [quote]='quote'></app-quote-details>

    </p>
</div> -->

