.form{
    background-color: orangered;
    color: white;
    font-weight: bold;
    font-style: italic;
    border-radius: 15px;
    box-shadow: 3px 3px  white;
}
input[type="text"]{
    margin-bottom:  11px;
    border-radius: 15px;

}
input[type="date"]{
    border-radius: 15px;
    height: 39px;
    width: 269px;
    border-color: white;
    margin-bottom:  11px;
    color: orangered;
    font-weight: bold;
}
button{
    color: orangered;
    background-color: white;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 22px;
}